body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 18px;
    background-color: black;
    margin: 1px;
}

#tester {
    display: flex;
    justify-content: center;
    align-items: center;
}

#counters {
    margin-right: 50px;
}

.slidecontainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slideboxes {
    display: flex;
    align-items: center;
    gap: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}